<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookApp</title>
    <link rel="icon" type="image/png" href="img/icons/icon_CookApp_yellow.png"/>
    <meta 
        name="author" 
        content="Manuel Rodriguez, Sergio Claustro, Noel Mora, Emiliano Cervantes" 
    />
    <meta
      name="keywords"
      content="CookApp, recetario, recetas, cocina, red social, comida"
    />
    <meta
      name="description"
      content="Red social sobre recetas donde la comunidad puede publicar y guardar recetas"
    />
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/profile.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.2.1/hamburgers.min.css"
    />
</head>
<body>

    <!-- Menu de navegacion -->
    <header>
      <a href="/">
        <img
          id="logo-menu"
          src="img/icons/icon_CookApp_white.png"
          alt="Logotipo CookApp"
        />
      </a>
        <h1 id="title">CookApp<span>Cocina con nosotros</span></h1>
        <div class="user-icon">
          <a href="/profile" id="user-icon-link">
          </a>
          
          <% if (!user.profilePicUrl) { %>
            <script>
              document.getElementById('user-icon-link').innerHTML = `
              <svg width="46" height="46" fill="#a52a2a" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 2c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2ZM6.023 15.416C7.491 17.606 9.695 19 12.16 19c2.464 0 4.669-1.393 6.136-3.584A8.968 8.968 0 0 0 12.16 13a8.968 8.968 0 0 0-6.137 2.416ZM12 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
              </svg>`;
            </script>
          <% }else{ %>
            <script>
              // Cadena original
              let urlFailed = '<%= user.profilePicUrl %>';
              // Utilizamos una expresion regular para buscar 'profile_' y reemplazarlo con '/profile_'
              var finalUrl = urlFailed.replace(/profile_/g, "/profile_");
              document.getElementById('user-icon-link').innerHTML = `<img src="${finalUrl}" alt="Foto de perfil">`;
              // console.log(finalUrl);
            </script>
           <% } %>
          
        </div>
        <button class="panel-btn hamburger hamburger--vortex" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
    </header>
    <aside class="panel">
        <nav class="menu">
            <a href="/">Inicio</a>
            <a href="/browser">Buscador</a>
            <a href="/profile">Perfil</a>
            <a href="/logout">Cerrar sesión</a>
            <a href="/about_us">Sobre nosotros</a>
            <a href="/contact">Contacto</a>
        </nav>
    </aside>

    <div class="user-info">
      <div class="profile-pic" id="profile-pic">

        <% if (!user.profilePicUrl) { %>
          <script>
            document.getElementById('profile-pic').innerHTML = `
            <svg width="46" height="46" fill="#a52a2a" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 2c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2ZM6.023 15.416C7.491 17.606 9.695 19 12.16 19c2.464 0 4.669-1.393 6.136-3.584A8.968 8.968 0 0 0 12.16 13a8.968 8.968 0 0 0-6.137 2.416ZM12 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
            </svg>`;
          </script>
        <% }else{ %>
          <script>
            document.getElementById('profile-pic').innerHTML = `<img src="${finalUrl}" alt="Foto de perfil">`;
          </script>
         <% } %>
      </div>
      <div class="profile-name-container">
        <p id="profile-name">
          <% if (!user.name) { %>
            <script>
              document.getElementById('profile-name').innerHTML = `Desconocido`;
            </script>
          <% }else{ %>
            <script>
              document.getElementById('profile-name').innerHTML = `${'<%= user.name %>'}`;
            </script>
          <% } %>
        </p>
      </div>
      <div class="profile-description">
        <p id="profile-description"></p>
        <% if (!user.description) { %>
        <script>
            document.getElementById('profile-description').innerHTML = `
              Sin descripción
            `;
        </script>
        <% }else{ %>
          <script>
            document.getElementById('profile-description').innerHTML = `${'<%= user.description %>'}`;
          </script>
        <% } %>
        </script>
      </div>
    </div>

    <div class="menu-profile">
      <ul>
        <li>
          <a href="/add_recipe">
            Subir receta
            <svg width="20" height="20" fill="#a52a2a" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 19h16v-7h2v8a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-8h2v7ZM14 9v6h-4V9H5l7-7 7 7h-5Z"></path>
            </svg>
          </a>
        </li>
        <li>
          <a href="/favorites">
            Recetas guardadas
            <svg width="20" height="20" fill="#a52a2a" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M5 2h14a1 1 0 0 1 1 1v19.143a.5.5 0 0 1-.766.424L12 18.03l-7.234 4.536A.5.5 0 0 1 4 22.143V3a1 1 0 0 1 1-1Zm13 2H6v15.432l6-3.761 6 3.761V4Z"></path>
            </svg>
          </a>
        </li>
        <li>
          <a id="description-modal">
            Cambiar descripción
            <svg width="20" height="20" fill="#a52a2a" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 3.993A1 1 0 0 1 2.992 3h18.016c.548 0 .992.445.992.993v16.014a1 1 0 0 1-.992.993H2.992A.993.993 0 0 1 2 20.007V3.993ZM4 5v14h16V5H4Zm2 2h6v6H6V7Zm2 2v2h2V9H8Zm-2 6h12v2H6v-2Zm8-8h4v2h-4V7Zm0 4h4v2h-4v-2Z"></path>
            </svg>
          </a>
        </li>
        <li>
          <a id="profile-pic-modal">
            Cambiar foto de perfil
            <svg width="20" height="20" fill="#a52a2a" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 4.995C3 3.893 3.893 3 4.995 3h14.01C20.107 3 21 3.893 21 4.995v14.01A1.995 1.995 0 0 1 19.005 21H4.995A1.995 1.995 0 0 1 3 19.005V4.995ZM5 5v14h14V5H5Zm2.972 13.18a9.98 9.98 0 0 1-1.751-.978A6.994 6.994 0 0 1 12.102 14c2.4 0 4.517 1.207 5.778 3.047a9.993 9.993 0 0 1-1.724 1.025A4.993 4.993 0 0 0 12.102 16c-1.715 0-3.23.864-4.13 2.18ZM12 13a3.5 3.5 0 1 1 0-7 3.5 3.5 0 0 1 0 7Zm0-2a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div id="update-description-modal">
      <div id="update-description-modal-content">
        <span id="close-description-modal">&times;</span>
        <h2>Actualizar descripción de perfil</h2>
        <form action="/update-description" method="post">
          <label for="description">Ingrese nueva descripción:</label>
          <textarea name="description" id="description" required></textarea>
          <input type="submit" value="Actualizar" id="btn-update-description">
        </form>
      </div>
    </div>

    <div id="update-profile-pic-modal">
      <div id="update-profile-pic-modal-content">
        <span id="close-pic-modal">&times;</span>
        <h2>Actualizar imagen de perfil</h2>
        <form action="/update-profile-pic" method="post" enctype="multipart/form-data">
          <label for="profile-pic">Seleccione su nueva imagen de perfil:</label>
          <input type="file" name="profile-pic" id="profile-pic" required accept=".jpg, .jpeg, .png, .gif">
          <input type="submit" value="Actualizar" id="btn-update-profile-pic">
        </form>
      </div>
    </div>

    <!-- <main class="recipes-user">
      <% recipes.forEach(function(recipe) { %>
        <div class="recipe">
            <h2><%= recipe.titleRecipe %></h2>
            <img src="<%= recipe.imgTitleRecipe %>" alt="Portada de receta">
            <p><b>Categoría:</b> <%= recipe.categoryRecipe %></p>
            <p><b>Autor:</b> <%= recipe.name %></p>
            <p><b>Descripción:</b> <%= recipe.description %></p>
            <a href="/recipe/<%= recipe.idRecipe %>">Ver receta completa</a>
        </div>
      <% }); %>
    </main> -->

    <main id="recipes-main-container">
      <% recipes.forEach(function(recipe) { %>
        <div class="recipe-container">
          <div class="img-recipe">
            <a href="/recipe/<%= recipe.idRecipe %>">
              <img src="<%= recipe.imgTitleRecipe %>" alt="Portada de receta">
            </a>
          </div>
          <div class="info-recipe">
            <h2 class="title-recipe"><%= recipe.titleRecipe %></h2>
            <p><b>Categoría:</b> <%= recipe.categoryRecipe %></p>
          </div>
          <div class="buttons-recipe">
            <a href="/profile">
              <svg width="46" height="46" fill="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.455 19 2 22.5V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H6.455ZM7 10v2h2v-2H7Zm4 0v2h2v-2h-2Zm4 0v2h2v-2h-2Z"></path>
              </svg>
            </a>
            <a href="/profile">
              <svg width="46" height="46" fill="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 14h-2a8.999 8.999 0 0 0-7.968 4.81C3.011 18.54 3 18.27 3 18 3 12.477 7.477 8 13 8V3l10 8-10 8v-5Z"></path>
              </svg>
            </a>
          </div>
        </div>
      <% }); %>
    </main>






    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <footer class="footer">
      <div class="footer-about">
        <h3>CookApp</h3>
        <p>Red social sobre recetas de cocina hecha para que la comunidad de usuarios podamos ayudarnos unos a otros a encontrar ese platillo que tanto deseamos</p>
      </div>
      <div class="footer-creators">
        <h3>Creadores</h3>
        <p>
          Manuel Rodriguez - 
          <a href="https://www.instagram.com/kobra_gloryg/" target="_blank">
            <svg width="20" height="20" fill="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm0-2a5 5 0 1 1 0 10 5 5 0 0 1 0-10Zm6.5-.25a1.25 1.25 0 1 1-2.5 0 1.25 1.25 0 0 1 2.5 0ZM12 4c-2.474 0-2.878.007-4.029.058-.784.037-1.31.142-1.798.332a2.886 2.886 0 0 0-1.08.703 2.89 2.89 0 0 0-.704 1.08c-.19.49-.295 1.015-.331 1.798C4.006 9.075 4 9.461 4 12c0 2.474.007 2.878.058 4.029.037.783.142 1.31.331 1.797.17.435.37.748.702 1.08.337.336.65.537 1.08.703.494.191 1.02.297 1.8.333C9.075 19.994 9.461 20 12 20c2.474 0 2.878-.007 4.029-.058.782-.037 1.309-.142 1.797-.331a2.92 2.92 0 0 0 1.08-.702c.337-.337.538-.65.704-1.08.19-.493.296-1.02.332-1.8.052-1.104.058-1.49.058-4.029 0-2.474-.007-2.878-.058-4.029-.037-.782-.142-1.31-.332-1.798a2.91 2.91 0 0 0-.703-1.08 2.884 2.884 0 0 0-1.08-.704c-.49-.19-1.016-.295-1.798-.331C14.925 4.006 14.539 4 12 4Zm0-2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153.509.5.902 1.105 1.153 1.772.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 0 1-1.153 1.772c-.5.508-1.105.902-1.772 1.153-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 0 1-1.772-1.153 4.904 4.904 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2Z"></path>
            </svg>
          </a>
          <a href="https://github.com/Kobra003" target="_blank">
            <svg width="20" height="20" fill="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 0 0 6.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 0 1 2.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10Z"></path>
            </svg>
          </a>
        </p>
        <p>
          Segio Claustro - 
          <a href="https://www.instagram.com/sergioclaustro" target="_blank">
            <svg width="20" height="20" fill="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm0-2a5 5 0 1 1 0 10 5 5 0 0 1 0-10Zm6.5-.25a1.25 1.25 0 1 1-2.5 0 1.25 1.25 0 0 1 2.5 0ZM12 4c-2.474 0-2.878.007-4.029.058-.784.037-1.31.142-1.798.332a2.886 2.886 0 0 0-1.08.703 2.89 2.89 0 0 0-.704 1.08c-.19.49-.295 1.015-.331 1.798C4.006 9.075 4 9.461 4 12c0 2.474.007 2.878.058 4.029.037.783.142 1.31.331 1.797.17.435.37.748.702 1.08.337.336.65.537 1.08.703.494.191 1.02.297 1.8.333C9.075 19.994 9.461 20 12 20c2.474 0 2.878-.007 4.029-.058.782-.037 1.309-.142 1.797-.331a2.92 2.92 0 0 0 1.08-.702c.337-.337.538-.65.704-1.08.19-.493.296-1.02.332-1.8.052-1.104.058-1.49.058-4.029 0-2.474-.007-2.878-.058-4.029-.037-.782-.142-1.31-.332-1.798a2.91 2.91 0 0 0-.703-1.08 2.884 2.884 0 0 0-1.08-.704c-.49-.19-1.016-.295-1.798-.331C14.925 4.006 14.539 4 12 4Zm0-2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153.509.5.902 1.105 1.153 1.772.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 0 1-1.153 1.772c-.5.508-1.105.902-1.772 1.153-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 0 1-1.772-1.153 4.904 4.904 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2Z"></path>
            </svg>
          </a>
          <a href="https://github.com/checoapprentice" target="_blank">
            <svg width="20" height="20" fill="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 0 0 6.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 0 1 2.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10Z"></path>
            </svg>
          </a>
        </p>
        <p>
          Noel Mora - 
          <a href="https://www.instagram.com/noelmoraaa" target="_blank">
            <svg width="20" height="20" fill="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm0-2a5 5 0 1 1 0 10 5 5 0 0 1 0-10Zm6.5-.25a1.25 1.25 0 1 1-2.5 0 1.25 1.25 0 0 1 2.5 0ZM12 4c-2.474 0-2.878.007-4.029.058-.784.037-1.31.142-1.798.332a2.886 2.886 0 0 0-1.08.703 2.89 2.89 0 0 0-.704 1.08c-.19.49-.295 1.015-.331 1.798C4.006 9.075 4 9.461 4 12c0 2.474.007 2.878.058 4.029.037.783.142 1.31.331 1.797.17.435.37.748.702 1.08.337.336.65.537 1.08.703.494.191 1.02.297 1.8.333C9.075 19.994 9.461 20 12 20c2.474 0 2.878-.007 4.029-.058.782-.037 1.309-.142 1.797-.331a2.92 2.92 0 0 0 1.08-.702c.337-.337.538-.65.704-1.08.19-.493.296-1.02.332-1.8.052-1.104.058-1.49.058-4.029 0-2.474-.007-2.878-.058-4.029-.037-.782-.142-1.31-.332-1.798a2.91 2.91 0 0 0-.703-1.08 2.884 2.884 0 0 0-1.08-.704c-.49-.19-1.016-.295-1.798-.331C14.925 4.006 14.539 4 12 4Zm0-2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153.509.5.902 1.105 1.153 1.772.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 0 1-1.153 1.772c-.5.508-1.105.902-1.772 1.153-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 0 1-1.772-1.153 4.904 4.904 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2Z"></path>
            </svg>
          </a>
          <a href="https://github.com/noelmora" target="_blank">
            <svg width="20" height="20" fill="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 0 0 6.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 0 1 2.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10Z"></path>
            </svg>
          </a>
        </p>
        <p>
          Emiliano Cervantes - 
          <a href="https://www.instagram.com/emi_cafg" target="_blank">
            <svg width="20" height="20" fill="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm0-2a5 5 0 1 1 0 10 5 5 0 0 1 0-10Zm6.5-.25a1.25 1.25 0 1 1-2.5 0 1.25 1.25 0 0 1 2.5 0ZM12 4c-2.474 0-2.878.007-4.029.058-.784.037-1.31.142-1.798.332a2.886 2.886 0 0 0-1.08.703 2.89 2.89 0 0 0-.704 1.08c-.19.49-.295 1.015-.331 1.798C4.006 9.075 4 9.461 4 12c0 2.474.007 2.878.058 4.029.037.783.142 1.31.331 1.797.17.435.37.748.702 1.08.337.336.65.537 1.08.703.494.191 1.02.297 1.8.333C9.075 19.994 9.461 20 12 20c2.474 0 2.878-.007 4.029-.058.782-.037 1.309-.142 1.797-.331a2.92 2.92 0 0 0 1.08-.702c.337-.337.538-.65.704-1.08.19-.493.296-1.02.332-1.8.052-1.104.058-1.49.058-4.029 0-2.474-.007-2.878-.058-4.029-.037-.782-.142-1.31-.332-1.798a2.91 2.91 0 0 0-.703-1.08 2.884 2.884 0 0 0-1.08-.704c-.49-.19-1.016-.295-1.798-.331C14.925 4.006 14.539 4 12 4Zm0-2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153.509.5.902 1.105 1.153 1.772.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 0 1-1.153 1.772c-.5.508-1.105.902-1.772 1.153-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 0 1-1.772-1.153 4.904 4.904 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2Z"></path>
            </svg>
          </a>
          <a href="https://github.com/JuanCervantesAla" target="_blank">
            <svg width="20" height="20" fill="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 0 0 6.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 0 1 2.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10Z"></path>
            </svg>
          </a>
        </p>
      </div>
      <div class="footer-links">
        <h3>Links</h3>
        <a href="/about_us">Sobre nosotros</a>
        <a href="/contact">Contactanos</a>
        <a href="/terms_and_conditions">Terminos y condiciones</a>
        <a href="">Contribuir</a>
      </div>
      <hr>
      <div class="footer-copy">
        <p>Copyright &copy; 2024 CookApp Todos los derechos reservados.</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (updateSuccess === 1) { %>
      <script>
        Swal.fire({
          icon: 'success',
          title: 'Actualización exitosa',
          text: 'La descripción se ha actualizado correctamente',
          showConfirmButton: true
        }).then(()=>{
          document.getElementById('user-icon-link').click();
        });
    </script>
    <% }else if(updateSuccess === -1){ %>
      <script>
        Swal.fire({
          icon: 'error',
          title: 'Error!',
          text: 'Ha ocurrido un error en la actualización de descripcion',
          showConfirmButton: true
        }).then(()=>{
          document.getElementById('user-icon-link').click();
        });
    </script>
    <% }else if(updateSuccess === 0){ %>
      <script>
        Swal.fire({
          icon: 'warning',
          title: 'Advertencia',
          text: 'Solo se aceptan 120 caracteres en la descripción',
          showConfirmButton: true
        }).then(()=>{
          document.getElementById('user-icon-link').click();
        });
      </script>
    <% }else if(updateSuccess === -2){ %>
      <script>
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: 'Error al subir la foto',
          showConfirmButton: true
        }).then(()=>{
          document.getElementById('user-icon-link').click();
        });
      </script>
    <% }else if(updateSuccess === 2){ %>
      <script>
        Swal.fire({
          icon: 'success',
          title: 'Foto de perfil actualizada',
          text: 'Se ha actualizado tu foto de perfil exitosamente',
          showConfirmButton: true
        }).then(()=>{
          document.getElementById('user-icon-link').click();
        });
      </script>
    <% }else if(updateSuccess === -3){ %>
      <script>
        Swal.fire({
          icon: 'warning',
          title: 'Advertencia',
          text: 'La imagen debe ser de tipo: .jpg, .jpeg, .png o .gif',
          showConfirmButton: true
        }).then(()=>{
          document.getElementById('user-icon-link').click();
        });
      </script>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/main_functions.js"></script>
    <script src="js/profile.js"></script>
</body>
</html>